:root {
    --black-color: #000000;
    --yellow-color: #fcba03;
    --white-color: #ffffff;
    --light-grey: #f5f5f5;
    --seaBlue-color: #008ABF;
    --darkBlue-color: #244151;
    --green-color: #329665;
    --red-color: #E25249;
}
