:root {
    --yellow-color: #fcc000;
    --white-color: #ffffff;
    --light-grey: #D0CFCE;
    --seaBlue-color: #008ABF;
    --darkBlue-color: #244151;
    --green-color: #329665;
    --red-color: #E25249;
}