@import './reset.css';
@import './colors.css';
body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}
/* 
COLORS:
    --yellow-color: #fcc000;
    --white-color: #ffffff;
    --light-grey: #D0CFCE;
    --seaBlue-color: #008ABF;
    --darkBlue-color: #244151;
    --green-color: #329665;
    --red-color: #E25249;
*/
/* after a search is complete display content 300px below the search bar for now, eventually change the search bar into a collapseable menu */
.container {
  position: relative;
  top: 300px;
}
/* TOP SEARCH COMPONENT */
.navbar-menu {
  /* border: 5px solid yellow; */
  position: fixed;
  top: 0;
  margin-top: 0;
  width: 100%;
  min-height: 50px;
  background-color: var(--white-color);
  border-bottom: 2px solid var(--light-grey);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 12px;
}

/* Search for username input bar */
.text-input {
width: auto;
height: 20px;
margin-right: 5px;
padding: 0 20px;
font-size: 1rem;
border: 1px solid var(--light-grey);
outline: none;
}
.text-input:focus{
border: 1px solid var(--seaBlue-color);
transition: 0.35s ease;
color: var(--darkBlue-color);
}
  
.text-input:-webkit-input-placeholder{
transition: opacity 0.45s ease; 
opacity: 0;
}

.text-input:-moz-placeholder {
transition: opacity 0.45s ease; 
opacity: 0;
}
.text-input:-ms-placeholder {
transition: opacity 0.45s ease; 
opacity: 0;
}

/* Search submit button */
.button{
  margin-left: auto;
  background-color: var(--yellow-color);
  width: 75px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white-color);
}
table {
  width: 100%;
  border: 1px solid black;
}

#map {
  height: 100%;
}
