html {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

/* Make images responsive by default */
img {
  max-width: 100%;
  height: auto;
}
